@media screen and (max-width: 768px) {
  .pad-115 {
    padding: 30px 0;
  }
  .pad-90 {
    padding: 20px 0;
  }
  .pt-115 {
    padding-top: 15px;
  }
  .pb-115 {
    padding-bottom: 30px;
  }
  .sm-heading-title {
    font-size: 25px;
    left: 25px;
  }
  .md-heading-title {
    font-size: 24px;
    line-height: 30px;
  }
  .lg-heading-title {
    font-size: 30px;
    line-height: 30px;
  }
  .seokit-section-title {
    margin-bottom: 30px;
  }
  .widget {
    margin-bottom: 30px;
  }
  .seokit-image-box.center-align {
    text-align: center;
  }
  .seokit-image-box .seokit-image-box__img {
    margin-bottom: 30px;
  }
  .seokit-image-box .seokit-image-box__content .seokit-image-box__content-title {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 10px;
  }
  .seokit-image-box .seokit-image-box__content .seokit-image-box__content-text {
    font-size: 14px;
  }
  .seokit-image-box.left-align .seokit-image-box__img {
    margin-right: 10px;
  }
  .seokit-image-box.left-align .seokit-image-box__img img {
    width: 100%;
  }
}
